"*":
  Hydrogen:
    kernelspec: "{}"
    languageMappings: '''
      {
          "Pweave markdown": "Python 3",
          "python": "magicpython"
      }
    '''
    startDir: "projectDirOfFile"
    startupCode: "{\"Python 3\": \"%matplotlib inline\"}"
  "atom-beautify":
    bash:
      beautify_on_save: true
      indent_size: 2
    general:
      beautifyEntireFileOnSave: false
    markdown:
      beautify_on_save: true
      commonmark: true
      default_beautifier: "Remark"
    python:
      default_beautifier: "yapf"
      formater: "yapf"
      sort_imports: true
    r:
      beautify_on_save: true
      indent_size: 2
    yaml:
      disabled: true
  "atom-clock":
    showClockIcon: true
  "atom-html-preview":
    enableMathJax: true
    scrollToCursor: true
    triggerOnSave: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "autocomplete-python":
    useKite: false
  build:
    saveOnBuild: true
    scrollOnError: true
  "build-make":
    jobs: 1
  core:
    disabledPackages: [
      "language-gfm"
      "language-python"
      "atom-ide-ui"
      "ide-python"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "zenburn-ui"
      "zenburn"
    ]
  editor:
    fontFamily: "Hack"
    preferredLineLength: 79
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "a9970b71-c592-4094-a1ca-5774c7ea9f09"
  "linter-ui-default": {}
  "markdown-preview-plus":
    enablePandoc: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "source.pweave.md"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
    pandocArguments: [
      "--mathjax"
      "--smart"
      "--no-highlight"
    ]
    pandocBibliography: true
    pandocMarkdownFlavor: "markdown+tex_math_single_backslash+multiline_tables+autolink_bare_uris+ascii_identifiers-implicit_figures"
    useLazyHeaders: false
    useNativePandocCodeStyles: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    core:
      scrollback: 8000
    style:
      fontFamily: "Hack"
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
".latex.pweave.source":
  editor:
    preferredLineLength: 79
".latex.source.weave":
  editor:
    preferredLineLength: 79
".md.pweave.source":
  editor:
    preferredLineLength: 79
    tabLength: 4
  "expand-region":
    commands: [
      {
        command: "expand-region:select-inside-back-ticks"
        recursive: true
      }
    ]
".md.source.weave":
  editor:
    preferredLineLength: 79
".md.text":
  editor:
    preferredLineLength: 79
    scrollPastEnd: false
".pweave.restructuredtext.source":
  editor:
    preferredLineLength: 79
    tabLength: 4
