"*":
  Hydrogen:
    languageMappings: '''
      {
          "Pweave markdown": "Python 3",
          "python": "magicpython"
      }
    '''
    startDir: "projectDirOfFile"
    startupCode: "{\"Python 3\": \"%matplotlib inline\"}"
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
  "atom-beautify":
    bash:
      beautify_on_save: true
      indent_size: 2
    executables:
      isort:
        path: "/usr/bin/env isort"
    general:
      beautifyEntireFileOnSave: false
    markdown:
      commonmark: true
      default_beautifier: "Remark"
    python:
      beautify_on_save: true
      default_beautifier: "pybeautifier"
      formater: "yapf"
      sort_imports: true
      style_config: "{based_on_style: pep8, align_closing_bracket_with_visual_indent: false, blank_line_before_nested_class_or_def: true, indent_width: 4, join_multiple_lines: false, split_before_named_assigns: false}"
    r:
      beautify_on_save: true
      indent_size: 2
    yaml:
      disabled: true
  "atom-clock":
    showClockIcon: true
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
  "atom-html-preview":
    enableMathJax: true
    scrollToCursor: true
    triggerOnSave: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-package-sync":
    syncSettings: false
  "atomic-rtags":
    rdmAutoSpawn: true
  "auto-update-plus":
    excludedPackages: [
      "code-peek"
    ]
  "autocomplete-python":
    useKite: false
  build:
    saveOnBuild: true
    scrollOnError: true
  "build-make":
    jobs: 1
  "code-peek": {}
  core:
    disabledPackages: [
      "language-gfm"
      "language-python"
      "atom-ide-ui"
      "ide-python"
      "linter-pylint"
      "linter-flake8"
      "markdown-preview-plus-opener"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    fontFamily: "Hack"
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "a9970b71-c592-4094-a1ca-5774c7ea9f09"
  "linter-markdown":
    scopes: [
      "source.gfm"
      "source.pfm"
      "source.pweave.md"
      "text.md"
    ]
  "linter-pylama":
    executablePath: "~/.pyenv/shims/pylama, pylama, pylama.exe"
    ignoreErrorsAndWarnings: "D203,D213,W0621"
    interpreter: "~/.pyenv/shims/python, python, python.exe"
    pylamaVersion: "external"
    usePylint: true
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
  "markdown-preview-plus":
    enablePandoc: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "source.pweave.md"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
    pandocArguments: [
      "--mathjax"
      "--smart"
      "--no-highlight"
    ]
    pandocBibliography: true
    pandocMarkdownFlavor: "markdown+tex_math_single_backslash+multiline_tables+autolink_bare_uris+ascii_identifiers-implicit_figures"
    useLazyHeaders: false
    useNativePandocCodeStyles: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      scrollback: 8000
    style:
      fontFamily: "Hack"
  "project-manager":
    alwaysOpenInSameWindow: true
    environmentSpecificProjects: true
    includeGitRepositories: true
    savePathsRelativeToHome: true
    sortBy: "group"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "status-bar": {}
  "symbols-tree-view": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  "zotero-citations": {}
".basic.html.text":
  editor:
    tabLength: 2
".latex.pweave.source":
  editor:
    preferredLineLength: 79
".latex.rd.tex.text":
  editor:
    preferredLineLength: 80
    tabLength: 2
".latex.source.weave":
  editor:
    preferredLineLength: 79
".md.pweave.source":
  editor:
    preferredLineLength: 79
    tabLength: 4
  "expand-region":
    commands: [
      {
        command: "expand-region:select-inside-back-ticks"
        recursive: true
      }
    ]
".md.source.weave":
  editor:
    preferredLineLength: 79
".md.text":
  editor:
    preferredLineLength: 79
    scrollPastEnd: true
".pweave.restructuredtext.source":
  editor:
    preferredLineLength: 79
    tabLength: 4
".r.source":
  editor:
    preferredLineLength: 80
    tabLength: 2
