packages: [
  "advanced-open-file"
  "afterglow-plus"
  "afterglow-syntax"
  "afterglow-ui"
  "alpenglow-twilight-atom-syntax"
  "atom-beautify"
  "atom-clock"
  "atom-fuzzy-grep"
  "atom-html-preview"
  "atom-ide-ui"
  "atom-python-test"
  "atom-reverser"
  "atom-runner"
  "atom-ternjs"
  "atom-wrap-in-tag"
  "atomic-rtags"
  "auto-detect-indentation"
  "auto-update-plus"
  "autoclose-html"
  "autocomplete-awk"
  "autocomplete-clang"
  "autocomplete-fortran"
  "autocomplete-json"
  "autocomplete-modules"
  "autocomplete-paths"
  "autocomplete-python"
  "autocomplete-R"
  "autocomplete-sql"
  "autocomplete-xml"
  "build"
  "build-make"
  "busy"
  "busy-signal"
  "city-lights-syntax"
  "city-lights-ui"
  "clang-format"
  "code-peek"
  "copy-paste"
  "docblockr"
  "emmet"
  "emmet-jsx-css-modules"
  "ex-mode"
  "expand-region"
  "expose"
  "file-icons"
  "git-blame"
  "git-time-machine"
  "gpp-compiler"
  "highlight-line"
  "highlight-selected"
  "Hydrogen"
  "hydrogen-launcher"
  "hyperclick"
  "ide-fortran"
  "ide-python"
  "imdone-atom"
  "intentions"
  "js-hyperclick"
  "jumpy"
  "language-awk"
  "language-babel"
  "language-cuda"
  "language-fortran"
  "language-latex"
  "language-markdown"
  "language-mathematica"
  "language-r"
  "language-weave"
  "line-length-break"
  "linter"
  "linter-clang"
  "linter-csslint"
  "linter-eslint"
  "linter-flake8"
  "linter-flow"
  "linter-lintr"
  "linter-markdown"
  "linter-pycodestyle"
  "linter-pydocstyle"
  "linter-pylama"
  "linter-pylint"
  "linter-sass-lint"
  "linter-ui-default"
  "local-history"
  "MagicPython"
  "markdown-preview-plus"
  "markdown-preview-plus-opener"
  "markdown-table-editor"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-pigments"
  "multi-wrap-guide"
  "package-sync"
  "pdf-view"
  "pigments"
  "platformio-ide-terminal"
  "prettier-atom"
  "project-manager"
  "project-plus"
  "python-indent"
  "python-tools"
  "rbox"
  "related"
  "set-syntax"
  "solarized-light-ui"
  "sort-lines"
  "switch-header-source"
  "symbols-tree-view"
  "tab-foldername-index"
  "teletype"
  "toggle-quotes"
  "toggler"
  "tree-view-git-branch"
  "tree-view-git-status"
  "tree-view-open-files"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-plus-move-to-symbols"
  "zenburn"
  "zenburn-ui"
  "zotero-citations"
]
