[
  {
    title: "CDS-411 Instructors"
    group: "CDS-411"
    paths: [
      "~/Courses/CDS-411/instructors"
    ]
  }
  {
    title: "Spyns"
    group: "Development"
    paths: [
      "~/Development/spyns"
    ]
  }
  {
    title: "CSI-702 Spr17: Homework02 Instructor Attempt"
    group: "CSI-702"
    paths: [
      "~/Documents/work/teaching/2017_Spring_Semester/CSI-702_High_Performance_Computing/assignments/homework02-instructor-attempt"
    ]
  }
]
