[
  {
    title: "Spyns"
    group: "Development"
    paths: [
      "~/Development/spyns"
    ]
  }
  {
    title: "CSI-702: Homework02 Instructor Attempt"
    group: "Mason Fall 2017"
    paths: [
      "~/Documents/work/teaching/2017_Spring_Semester/CSI-702_High_Performance_Computing/assignments/homework02-instructor-attempt"
    ]
  }
]
