#notebook_name {
  font-family: "Roboto";
}

.CodeMirror {
  font-family: "Hack";
}

.output * {
  font-family: "Roboto Mono";
}

div.text_cell_render {
  font-family: "Roboto";
}

div.text_cell_render pre, code {
  font-family: "Roboto Mono";
}

div.text_cell_render h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

